* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Product Sans", sans-serif;
}

body{
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}   
